@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,800&display=swap');

*{
  margin:0px;
  padding:0px;
  box-sizing:border-box;
  font-family: 'Montserrat', sans-serif;
}

body{
  background-image:linear-gradient(#00000076, #00000075),  url(./bg.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  height:100vh;
  width:100%;
}

#main{
  height:100vh;
  width:550px;
  background:transparent;
  text-align:center;
  margin:auto;
}

.ps__thumb-y {
  background-color: #f9df36 !important;
  border-radius: 16px ;
  transition: none !important;
  -webkit-transition: none !important;
  width: 20px !important;
  right: 4px;
  position: absolute;
  
}
img#log {
  width: 300px;
  height: 149px;
}
#subMain{
  width:85%;
  margin:auto;
  background:transparent;
}
h4.bnb_text {
  margin-bottom:46px;
  font-size: 22px;
  font-family: areal;
  font-weight: bold;
}
#main_box{
  margin-top:10px;
  background:#FFD236;
  width:90%;
  margin:auto;
  padding:10px;
  border-radius:15px;
}
.main_box_top_texts {
  display: flex;
  justify-content: space-between;
  padding: 12px;
}
h3#yourbeans {
  margin-bottom: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {

  -moz-appearance: textfield;
}
input[type=number]:focus{
  outline:none;
}
div.bnbinput {
  width: 90%;
  background: #041134;
  margin: auto;
  border-radius: 7px;
  overflow:hidden;
  height: 50px;
  display:flex;
  justify-content: space-between;
}
input#bnbVal {
  
  width: 80%;
  background: #041134;
  border: none;
  text-align: right;
  font-size: 25px;
  color: #fff;
  margin-right: 15px;
}
div.bnbinput h2 {
  color: #fff;
  margin-right: 13px;
  margin-top: 10px;
}

div#lamonadebtn {
  margin-top: 26px;
}
button#lmbtn {
  text-align: center;
  color: #fff;
  border: none;
  width: 100%;
  background: #041134;
  font-size: 18px;
  cursor: pointer;
}
div#reward_div {
  margin-top: 53px;
  margin-bottom: 25px;
}

#main_box_bottom_btn{
  margin-bottom:28px !important;
  width: 90%;
  background: transparent;
  margin: auto;
  border-radius: 7px;
  overflow:hidden;
  height: 50px;
  display:flex;
  justify-content: space-between;
}


.main_box_btn_bottom {
  cursor:pointer;
    outline: none;
    border: none;
    width: 170px;
    font-size: 16px;
    color: #fff;
    border-radius: 11px;
    background: #041134;
}
div#main_box_texts {
  padding: 10px;
}
#nutration {
  background: #FFD236;
  width: 88%;
  margin: auto;
  margin-top: 25px;
  border-radius: 13px;
  padding: 16px;
  box-shadow: 2px 1px 6px #111;
}
#nutration h3{
  font-size: 23px;
  border-bottom:6px solid #111;
}
p.nutra_para {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-weight: 900;
}

#ref{
  background: #FFD236;
  width: 88%;
  margin: auto;
  margin-top: 25px;
  border-radius: 13px;
  padding: 16px;
  box-shadow: 2px 1px 6px #111;
}

input#refInpt {
  margin-top: 21px;
  border: none;
  outline: none;
  width: 100%;
  border-radius: 10px;
  padding: 4px 0px;
  background: #041134;
  color: #fff;
}
p.ref_para {
  margin-top: 30px;
  margin-bottom: 25px;
}
a.soc{text-decoration:none; margin-bottom:15px;}
a.soc img {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}
div#socialGroup {
  width: 260px;
  margin: auto;
  margin-bottom: 29px;
  margin-top: 29px;
  display: flex;
  justify-content: space-evenly;
}
button#connect:hover{
  box-shadow:none;
}
button#connect {
  position: fixed;
  top: 4%;
  right: 4%;
  box-shadow: 1px 1px 15px #111;
  width: 193px;
  height: 50px;
  cursor: pointer;
  border-radius: 11px;
  font-size: 17px;
  background: #ffd236;
}
#connect_div_wrapper{
  width:100%;
  height:100vh;
  position:fixed;
  top: 0%;
  left:0%;
  display:grid;
  place-items:center;
  z-index:8;
  background:rgba(17, 17, 17, 0.559);
}
#connect_wallet_div{
  width:500px;
  height:400px;
  background:#fff;
  overflow:hidden;
  border-radius:20px;
}
button.connect_wallet img {
  width: 85px;
  border-radius: 61px;
}

button.connect_wallet {
  cursor:pointer;
  border:none;
  outline:none;
  width: 100%;
}
.connect_wallet small{
  color:#888 !important;
}
button.connect_wallet h3 {
  font-size: 30px;
}
button#scan_wallet {
  margin-top: 61px;
}




@media screen and (max-width:500px){
  #main_box {
    
    width: 97%;
    
}
#ref {
 
  width: 97%;
 
}
#nutration{width:97%}
  #main {
    background:transparent;
   height:auto;
    width: 100%;
    
}
div#connect_desktop {
  display: none;
}
.ps__thumb-y {
  display: none;
  background: transparent;
}
.ps__rail-y {
  display: none !important;
}
#subMain {
  width: 100%;
  margin: auto;
  background: transparent;
}

body{
  background-image:linear-gradient(#00000076, #00000075),  url(./bg.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  height:1450px;
  width:100%;
}
button#connect {
  position: relative;
  margin-left:21px;
  /* top: 4%; */
  /* right: 4%; */
  box-shadow: 1px 1px 15px #111;
  width: 327px;
  height: 50px;
  text-align:center;
  cursor: pointer;
  margin-bottom: 41px;
  border-radius: 11px;
  font-size: 17px;
  background: #ffd236;
}
#connect_wallet_div {
  width: 100%;
  height: 400px;
  background: #fff;
  overflow: hidden;
  border-radius: 20px;
}
}